<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a href="#" (click)="homeBack()" class="headerButton goBack">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right">
    <a routerLink="/login" class="headerButton">
      Connexion
    </a>
  </div>
</div>
<!-- * App Header -->



<div id="myIfram">

  <iframe  id="iframe"  src="https://talent-heroes-2b998.web.app/register" width="100%" height="730px"   >

  </iframe>

</div>
