
<!-- App Header -->
<div class="appHeader bg-primary text-light">
  <div class="left">
    <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
      <ion-icon name="menu-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">Gerer campagne</div>
  <div class="right">
    <span class="badge badge-light">{{ campagneListFiltered.length }}</span>
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

  <ul class="listview image-listview">
    <li>
      <div class="item">
        <div class="extraHeader">
          <div class="search-form">
            <div class="form-group searchbox">
              <input type="text" (input)="filerData($event.target)" class="form-control" placeholder="Rechercher...">
              <i class="input-icon">
                <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
              </i>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li *ngFor="let element of campagneListFiltered">
      <a  data-bs-toggle="modal" data-bs-target="#DialogFormAction" class="item"
        (click)="getDetailCampagne(element)">
        <div class="icon-box bg-warning">
          <ion-icon name="calendar-outline" role="img" class="md hydrated" aria-label="share social outline"></ion-icon>
        </div>
        <div class="in">
          <div style="width: 100%;">
            <header>{{ element.title }}</header>
            <div class="col mt-1">
            <span> {{ getMonthOfNumer(element.mois) }} {{ element.annee }} </span>

            <span style="font-size: 9px;" [ngClass]="element.status == 'EN COURS' ? 'badge badge-success float-right' : 'badge badge-danger float-right'">
              {{ element.status }}
            </span>
            <span [ngClass]="element.nombrePublication > 0 ? 'badge badge-success float-right me-1' : 'badge badge-danger float-right me-1'">
              {{ element.nombrePublication }} <ion-icon name="videocam-outline"></ion-icon>
            </span>
            <span [ngClass]="element.nombreGagnant > 0 ? 'badge badge-success float-right me-1' : 'badge badge-danger float-right me-1'">
              {{ element.nombreGagnant }} <ion-icon name="trophy-outline"></ion-icon>
            </span>
            </div>
            <footer class="mt-1">
                {{ element.content }}
            </footer>
          </div>
          <span class="text-muted text-warning "></span>
        </div>
      </a>
    </li>
  </ul>

  <div class="fab-button animate bottom-right">
    <a routerLink="/back-office/campagnes/nouvelle-campagne" class="fab">
      <ion-icon name="add-outline" role="img" class="md hydrated" aria-label="add outline"></ion-icon>
    </a>
  </div>
</div>

<!-- Dialog Action  -->
<div class="modal fade dialogbox" id="DialogFormAction" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Choisissez votre action</h5>
          </div>
          <ul class="listview image-listview">
            <li data-bs-dismiss="modal" (click)="linkTo('/back-office/liste-campagne/'+oneCampagne.id)" *ngIf="oneCampagne != null">
                <div class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="videocam-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Publications</div>
                        <span class="badge badge-danger">{{ oneCampagne.nombrePublication }}</span>
                    </div>
                </div>
            </li>
            <li data-bs-dismiss="modal" (click)="linkTo('/back-office/gerer-gagnant/'+ oneCampagne.id )" *ngIf="oneCampagne != null">
              <div class="item">
                  <div class="icon-box bg-primary">
                      <ion-icon name="trophy-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                  </div>
                  <div class="in">
                      <div>Gagnants</div>
                      <span class="badge badge-danger"> {{ oneCampagne.nombreGagnant }}</span>
                  </div>
              </div>
          </li>
          <li data-bs-toggle="modal" data-bs-target="#DialogBasicInformation" *ngIf="oneCampagne != null">
              <div class="item">
                  <div class="icon-box bg-primary">
                      <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                  </div>
                  <div class="in">
                      <div>Participants</div>
                      <span class="badge badge-danger">{{ userListByCampagne.length }}</span>
                  </div>
              </div>
          </li>
          <li (click)="chooseDeleteOrChangeStatus(2)" data-bs-toggle="modal" data-bs-target="#DialogBasic" *ngIf="oneCampagne != null">
            <div class="item">
                <div class="icon-box bg-primary">
                    <ion-icon name="refresh-circle-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                </div>
                <div class="in">
                    <div>{{ oneCampagne.status == 'EN COURS' ? 'Clôturer': 'Relancer' }}</div>
                </div>
            </div>
           </li>
           <li (click)="chooseDeleteOrChangeStatus(1)" data-bs-toggle="modal" data-bs-target="#DialogBasic" *ngIf="oneCampagne != null">
            <div class="item">
                <div class="icon-box bg-primary">
                    <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                </div>
                <div class="in">
                    <div>Supprimer</div>
                </div>
            </div>
           </li>
            <li data-bs-dismiss="modal">
                <div class="item">
                    <div class="icon-box bg-danger">
                        <ion-icon name="close" role="img" class="md hydrated" aria-label="musical notes outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Fermer</div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
  </div>
</div>
<!-- * Dialog Form -->

<!-- Dialog Basic -->
<div class="modal fade dialogbox" id="DialogBasic" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
      </div>
      <div class="modal-body">
        {{ actionChoose == 1 ? 'Autorisez-vous la suppression ?' :' Autorisez-vous le changement de statut de la
        campagne ?' }}
      </div>
      <div class="modal-footer">
        <div class="btn-inline">
          <a href="#" class="btn btn-text-secondary" data-bs-dismiss="modal">NON</a>
          <a href="#" *ngIf="actionChoose == 1" class="btn btn-text-primary" data-bs-dismiss="modal"
            (click)="deletedCampagne(oneCampagne)">OUI</a>
          <a href="#" *ngIf="actionChoose == 2" class="btn btn-text-primary" data-bs-dismiss="modal"
            (click)="updatedCampagneStatus(oneCampagne)">OUI</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Dialog Basic -->

 <!-- Modal Basic information -->
 <div class="modal fade modalbox" id="DialogBasicInformation" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Participants</h5>
              <a href="#" data-bs-dismiss="modal" data-bs-dismiss="modal" class="text-warning f-size-28 f-bold">
                <ion-icon name="close-outline"></ion-icon>
              </a>
          </div>
          <div class="modal-body unset-padding" *ngIf="userListByCampagne != null">

            <ul class="listview image-listview">
              <li>
                <div class="item">
                    <div class="search-form">
                      <div class="form-group searchbox">
                        <input type="text" (input)="filerDataUserListFiltredByCampagne($event.target)" class="form-control" placeholder="Rechercher...">
                        <i class="input-icon">
                          <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                        </i>
                      </div>
                    </div>
                  </div>
              </li>
              <li *ngFor="let element of userListFiltredByCampagne">
                <a  class="item">
                  <div class="icon-box bg-warning">
                    <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="share social outline"></ion-icon>
                  </div>
                  <div class="in">
                      <div style="width: 100%;">
                        <header>{{ element.fullName }}</header>
                        <div class="col">
                          <span>
                            {{ element.country.codePhone }} {{ element.phoneNumber }}
                          </span>
                          <span
                            [ngClass]="element.role == 'ADMINISTRATEUR' ? 'badge badge-warning float-right' : 'badge badge-light float-right'">
                            {{ element.role }}
                          </span>
                        </div>
                        <footer class="mt-1">
                            {{ element.email }}
                        </footer>
                      </div>
                  </div>
                </a>
              </li>
            </ul>

          </div>
      </div>
  </div>
</div>
<!-- * Modal Basic -->

<!--<div class="fab-button animate bottom-right">
  <a data-bs-toggle="modal" data-bs-target="#ModalForm" class="fab" (click)="makeForm()">
    <ion-icon name="add-outline" role="img" class="md hydrated" aria-label="add outline"></ion-icon>
  </a>
</div>-->

<!-- Modal Form
<div class="modal fade modalbox" id="ModalForm" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <button type="button" [disabled]="campagneForm.invalid || isBusy == true" (click)="sendCampagne()"
            class="btn btn-primary rounded btn-sm">
            <span>  {{ isBusy == false ? 'Publier' : 'Publication en cours ...' }} </span>
          </button>
        </div>
        <a href="#" (click)="makeForm(); list()" data-bs-dismiss="modal" class="text-warning f-size-28 f-bold">
          <ion-icon name="close-outline"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="login-form">
          <div class="section mt-2">
            <h1>Campagne</h1>
            <h4>Formulaire</h4>
          </div>
          <div class="section mt-4 mb-5">
            <form [formGroup]="campagneForm" *ngIf="campagneForm">
              <div class="form-group boxed">
                <div class="input-wrapper">
                  <label class="form-label" for="title">Titre</label>
                  <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="Titre de la campagne">
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                  <span class="text-danger error-input f-size-12 mb-1"
                    *ngIf="campagneForm.get('title')?.touched && campagneForm.get('title')?.errors">
                    Champ obligatoire !
                  </span>
                </div>
              </div>
              <br>
              <div class="form-group boxed">
                <div class="input-wrapper">
                  <label class="form-label" for="content">Contenu de la publication</label>
                  <textarea class="form-control" formControlName="content" placeholder="Contenu de la publication"
                    id="content"></textarea>
                  <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                  </i>
                  <span class="text-danger error-input f-size-12 mb-1"
                    *ngIf="campagneForm.get('content')?.touched && campagneForm.get('content')?.errors">
                    Champ obligatoire !
                  </span>
                </div>
              </div>

                <div class="form-group boxed">
                  <div class="input-wrapper">
                    <label class="form-label" for="visibilite">City</label>
                    <select class="form-control form-select" id="visibilite" (change)="generateUserListChoiced('a')"
                      formControlName="visibilite">
                      <option *ngFor="let element of visibiliteList" [value]="element.key">{{ element.name }}</option>
                    </select>
                    <span class="text-danger error-input f-size-12 mb-1"
                      *ngIf="campagneForm.get('visibilite')?.touched && campagneForm.get('visibilite')?.errors">
                      Champ obligatoire !
                    </span>
                  </div>
                </div>
                <br>
                <div class="form-group" *ngIf="campagneForm.get('visibilite')?.value =='ABONNÉS D\'UN PAYS'">
                  <label class="form-label" for="countryId">Pays</label>
                  <div class="wide-block pt-2 pb-2">
                    <div class="form-check mb-1">
                      <div class="search-form">
                        <div class="form-group searchbox">
                          <input type="text" (input)="filerDataCountry($event.target)" class="form-control"
                            placeholder="Rechercher...">
                          <i class="input-icon">
                            <ion-icon name="search-outline" role="img" class="md hydrated"
                              aria-label="search outline"></ion-icon>
                          </i>
                        </div>
                      </div>
                    </div>
                    <div class="form-check mb-1 text-left" *ngFor="let element of countriesFilterList; let i=index">
                      <input class="form-check-input"  (change)="selectCountryValue($event.target)" [value]="element.id" type="radio" name="flexRadioDefault" id="flexRadioDefault1{{i}}">
                      <label class="form-check-label" for="flexRadioDefault1{{i}}">
                        {{ element.name }}
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group" *ngIf="campagneForm.get('visibilite')?.value =='GROUPE D\'ABONNÉS'">
                  <label class="form-label" for="countryId">Abonnés concernés</label>
                  <div class="wide-block pt-2 pb-2">
                    <div class="form-check mb-1">
                      <div class="search-form">
                        <div class="form-group searchbox">
                          <input type="text" (input)="filerDataUtilisateur($event.target)" class="form-control"
                            placeholder="Rechercher...">
                          <i class="input-icon">
                            <ion-icon name="search-outline" role="img" class="md hydrated"
                              aria-label="search outline"></ion-icon>
                          </i>
                        </div>
                      </div>
                    </div>
                    <div class="form-check mb-1 text-left" *ngFor="let element of userFilteredTypingList; let i=index">
                      <input class="form-check-input"  (change)="generateUserListSeletedChoiced($event, i)" type="checkbox" name="flexCheckBox" id="flexCheckBox1{{i}}">
                      <label class="form-check-label" for="flexCheckBox1{{i}}">
                        {{ element.fullName }}
                      </label>
                    </div>
                  </div>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
Modal Form -->
