<!--<div class="container color-principal" style="position: fixed;z-index:11;padding-left:unset;">
  <div class="row">
    <div class="col-sm-2 col-xs-2 col-md-2 col-2">
      <button (click)="homeBack()" class="left-back" style="margin-top:5px;">
        <i class="las la-arrow-left"></i>
      </button>
    </div>
    <div class="col-sm-8  col-xs-8 col-md-8 col-8">
      <h4 style="padding-top:15px;padding-bottom: 15px;"> Conditions d'utilisation </h4>
    </div>
  </div>
</div>

<div class="page-wrapper"> -->

  <!-- account section start
  <div class="account-section bg_img no-padding min-height-90" data-background="assets/images/bg/bg-5.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7">
          <br> <br> <br>
          <div class="account-card">
            <div class="account-card__body">


              <h4 class="blog-details__title">
                Que contiennent les présentes Conditions d'utilisation ?
              </h4>
              <p>
                Cette politique de confidentialité ne concerne que l’application mobile TalentsHeroes
                téléchargeable sur Google Play pour les appareils Android ou compatible et sur App Store
                pour les iPhone.
              </p>
              <br>
              <h6 class="color-font-principal">
                Bienvenue sur TalentsHeroes !
              </h6>
              <p>
                Le projet “Talent Heroes”, soucieux des droits des individus, notamment
                au regard des traitements automatisés et dans une volonté de transparence
                avec ses prospects et bénéficiaires, a mis en place une politique reprenant
                l’ensemble de ces traitements, des finalités poursuivies par ces derniers ainsi que
                des moyens d’actions à la disposition des individus afin qu’ils puissent au mieux
                exercer leurs droits.
                <br>
                L’utilisation de cette application mobile vaut acceptation sans réserve des dispositions
                et conditions d’utilisation qui suivent.
                <br>
                Pour toute information complémentaire sur la protection des données personnelles,
                nous vous invitons à consulter le site : https://apdp.bj/.
                <br>
                La version actuellement en ligne de ces conditions d’utilisation est la seule
                opposable pendant toute la durée d’utilisation de l’application et jusqu’à ce qu’une
                nouvelle version la remplace.
                <br>
                <strong>On désignera par la suite :</strong>
              </p>
              <h6 class="color-font-principal title-condition">
                Application
              </h6>
              <p>
                L’application Talent Heroes sur IOS ou Android.
              </p>
              <h6 class="color-font-principal title-condition">
                Utilisateur
              </h6>
              <p>
                Les prospects et bénéficiaires visitant et utilisant les services de l'application.
              </p>
              <h6 class="color-font-principal title-condition">
                Éditeur
              </h6>
              <p>
                Le projet “Talent Heroes”, personne morale responsable de l’édition et du contenu de
                l'application.
              </p>
              <h6 class="color-font-principal title-condition">
                Responsable de traitement
              </h6>
              <p>
                La personne physique ou morale, l’autorité publique, l'institution ou toute autre
                organisme qui, seul ou conjointement avec d’autres, détermine les finalités et
                les moyens du traitement de Données personnelles, y compris les mesures de
                sécurité concernant le fonctionnement et l'utilisation de l’application.
                Sauf mention contraire, le Responsable du traitement est le Le projet “Talent Heroes”
              </p>

              <h6 class="color-font-principal title-condition">
                Données personnelles
              </h6>
              <p>
                Toute information qui, directement, indirectement ou en relation avec d'autres
                informations – y compris un numéro d'identification personnel – permet l'identification ou
                l'identifiabilité d'une personne physique.
              </p>
              <h6 class="color-font-principal title-condition">
                Données d’utilisation
              </h6>
              <p>
                Les informations collectées automatiquement par l’application qui peuvent inclure
                les adresses IP ou les noms de domaines des ordinateurs utilisés par les Utilisateurs
                qui utilisent l’application, le pays d’origine, les caractéristiques du navigateur et
                du système d’exploitation utilisés par l’Utilisateur, les différents détails
                relatifs au temps par visite (p. ex. temps passé sur chaque page dans l’Application)
                et les détails relatifs au chemin suivi dans l’Application avec une référence
                spéciale à la séquence des pages visitées, et d’autres paramètres concernant
                le système d’exploitation ou l’environnement informatique de l’Utilisateur.
              </p>

              <br>

              <h6 class="color-font-principal title-condition">
                Article 1 : Mentions légales
              </h6>
              <p>
                1. Application (ci-arès «l’application »). : TalentsHeroes <br>
                TalentsHeroes est une application qui a pour but d’offrir un cadre d’échnages
                entre le le projet “Talents Heroes” et ses prospects et bénéficiaires
                <br><br>
                2. Éditeur (ci-après «l’éditeur»).: Le projet “Talents Heroes”, représenté par : <br>
                Administrateur : <br>
                Christian R. Gnonlonfoun <br>
                Adresse : C/945 Etoile Rouge Gbégamey IV <br>
                Tél. 001 617 435 8604 <br>
                Email : christiangnonlo@yahoo.com
              </p>
              <h6 class="color-font-principal title-condition">
                Article 2 : Accès à l'application
              </h6>
              <p>
                L’accès à l'application et son utilisation sont réservés à un usage strictement
                personnel. Vous vous engagez à ne pas utiliser cette application et les
                informations ou données qui y figurent à des fins commerciales, politiques,
                publicitaires et pour toute forme de sollicitation commerciale et notamment
                l’envoi de courriers électroniques non sollicités.
              </p>
              <h6 class="color-font-principal title-condition">
                Article 3 : Contenu de l’application
              </h6>
              <p>
                Toutes les marques, photographies, textes, commentaires, illustrations, images animées
                ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui
                pourraient être utilisées pour faire fonctionner cette application, et plus
                généralement tous les éléments reproduits ou utilisés sur l'application sont protégés
                par les lois en vigueur au titre de la propriété intellectuelle. Ils sont la propriété
                pleine et entière de l’éditeur ou de ses partenaires. <br>
                Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme
                que ce soit, de tout ou partie de ces éléments, y compris les applications
                informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement
                interdites. Le fait pour l’éditeur de ne pas engager de procédure dès la prise de
                connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites
                utilisations et renonciation aux poursuites.
              </p>
              <h6 class="color-font-principal title-condition">
                Article 4 : Gestion de l’application
              </h6>
              <p>
                Pour la bonne gestion de l'application, l’éditeur pourra à tout moment :
              </p>
              <ul>
                <li>
                  - Suspendre, interrompre ou limiter l’accès à tout ou partie d l'application,
                  réserver l’accès à l'application, ou à certaines parties de l'application, à
                  une catégorie déterminée d’internautes ;
                </li>
                <li>
                  - Supprimer toute information pouvant en perturber le fonctionnement ou entrant en
                  contravention avec les lois nationales ou internationales, ou avec les règles de la
                  Nétiquette (règles de savoir-vivre en usage sur Internet) ;
                </li>
                <li>
                  - Suspendre l'application afin de procéder à des mises à jour.
                </li>
              </ul>

              <h6 class="color-font-principal title-condition">
                Article 5 : Responsabilité de l’éditeur et du Responsable de traitement
              </h6>
              <p>
                La responsabilité de l’éditeur ne peut être engagée en cas de défaillance,
                panne, difficulté ou interruption de fonctionnement, empêchant l’accès à
                l'application ou à une de ses fonctionnalités. Le matériel de connexion à
                l'application que vous utilisez est sous votre entière responsabilité.
                Vous devez prendre toutes les mesures appropriées pour protéger votre matériel
                et vos propres données notamment d’attaques virales par Internet. <br>
                Vous êtes par ailleurs seul responsable des sites, applications et
                données que vous consultez. L’éditeur ne pourra être tenu responsable en
                cas de poursuites judiciaires à votre encontre : <br>
                • Du fait de l’usage de l'application ou de tout service accessible via Internet ; <br>
                • Du fait du non-respect par vous de la présente Politique de confidentialité ; <br>
                • L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers
                et/ou à votre équipement du fait de votre connexion ou de votre utilisation de
                l'application et vous renoncez à toute action contre lui de ce fait.
                Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire
                à raison de votre utilisation de l'application, il pourra se retourner contre
                vous pour obtenir l’indemnisation de tous les préjudices, sommes,
                condamnations et frais qui pourraient découler de cette procédure.
              </p>
              <h6 class="color-font-principal title-condition">
                Article 6 : Liens Hypertextes
              </h6>
              <p>
                La mise en place par les utilisateurs les utilisateurs de tous liens hypertextes vers
                tout ou partie de l'application est autorisée par l’éditeur. Tout lien devra être
                retiré sur simple demande de l’éditeur. L’éditeur n’est pas responsable des
                informations publiées et accessibles via un lien hypertexte publié sur l'application.
                L’éditeur ne dispose d’aucun droit sur le contenu présent dans ledit lien
              </p>
              <h6 class="color-font-principal title-condition">
                Article 7 : Collecte et protection des données
              </h6>
              <p>
                Vos données sont collectées par le propriétaire de l'application.
                Une donnée à caractère personnel désigne toute information concernant
                une personne physique identifiée ou identifiable (personne concernée).
                Est réputée identifiable une personne qui peut être identifiée, directement ou
                indirectement, notamment par référence à un nom, un numéro d’identification ou
                à un ou plusieurs éléments spécifiques, propres à son identité physique,
                physiologique, génétique, psychique, économique, culturelle ou sociale. <br>
                Les informations personnelles pouvant être recueillies sur l'application sont utilisées par l’éditeur
                pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos commandes.
                Les données personnelles pouvant être collectées sont les suivantes : <br>
                • Nom et prénom <br>
                • Adresse e-mail <br>
                • Numéro de téléphone

              </p>
              <h6 class="color-font-principal title-condition">
                Article 8 : Droit de l’utilisateur
              </h6>
              <p>
                En application de la réglementation applicable aux données à caractère personnel,
                les utilisateurs disposent des droits suivants : <br>

                • Le droit d’accès : vous pouvez exercer votre droit d’accès, pour connaître
                les données personnelles vous concernant, en écrivant à l’adresse e-mail
                suivante : christiangnonlo@yahoo.com
                Dans ce cas, avant la mise en œuvre de ce droit, le propriétaire de l'application
                peut demander une preuve de votre identité afin d’en vérifier l’exactitude <br>
                • Le droit de rectification : si les données à caractère personnel détenues par
                le propriétaire de l'application sont inexactes, vous pouvez demander la mise à
                jour des informations. <br>
                • Le droit de rectification : si les données à caractère personnel détenues par
                le propriétaire de l'application sont inexactes, vous pouvez demander la mise à
                jour des informations. <br>
                • Le droit de suppression des données : vous pouvez demander la suppression de
                vos données à caractère personnel, conformément aux lois applicables en matière
                de protection des données. <br>
                • Le droit à la limitation du traitement : vous pouvez demander au propriétaire
                de l'application de limiter le traitement des données personnelles conformément à
                la Réglementation Générale de la Protection des Données (RGPD). <br>
                • Le droit de s’opposer au traitement des données : vous pouvez vous opposer
                à ce que vos données soient traitées conformément aux hypothèses prévues par
                la Réglementation Générale de la Protection des Données (RGPD). <br>
                • Le droit à la portabilité : vous pouvez réclamer que le propriétaire de
                l'application vous remette les données personnelles fournies <br>
              </p>
              <h6 class="color-font-principal title-condition">
                Article 9 : Utilisation des données
              </h6>
              <p>
                Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des
                services de l'application, leur amélioration et le maintien d’un environnement sécurisé. Plus
                précisément, les utilisations sont les suivantes : <br>
                • Accès et utilisation de l'application par l’utilisateur <br>
                • Gestion du fonctionnement et optimisation de l'application <br>
                • Mise en œuvre d’une assistance utilisateurs <br>
                • Vérification, identification et authentification des données transmises par l’utilisateur <br>
                • Personnalisation des services en affichant des publicités en fonction de l’historique de navigation de
                l’utilisateur, selon ses préférences <br>
                • Prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et
                gestion des incidents de sécurité <br>
                • Gestion des éventuels litiges avec les utilisateurs <br>
                • Envoi d’informations commerciales et publicitaires, en fonction des préférences de l’utilisateur <br>
              </p>
              <h6 class="color-font-principal title-condition">
                Article 10 : Offres
              </h6>
              <p>
                Vous êtes susceptible de recevoir des offres commerciales par nos compagnes
              </p>
              <h6 class="color-font-principal title-condition">
                Article 11 : Loi application
              </h6>
              <p>
                La présente Politique de confidentialité est régie par la loi Béninoise/Française/Américaine et soumise
                à la compétence des tribunaux du siège social de l’éditeur, sous réserve d’une attribution de compétence
                spécifique découlant d’un texte de loi ou réglementaire particulier.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   account section end

</div>  page-wrapper end -->



<!-- App Header -->
<div class="appHeader no-border transparent position-absolute" *ngIf="isHome == true">
  <div class="left">
    <a routerLink="/" class="headerButton goBack">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right">
    <a routerLink="/login" class="headerButton">
      Connexion
    </a>
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" [ngClass]=" isHome == false ? 'pt-0': ''">

  <div class="login-form">
    <div class="section">
      <h2 *ngIf="isHome == true">Conditions d'utilisation</h2>
      <h4 class="text-warning"> Que contiennent les présentes Conditions d'utilisation ?</h4>
    </div>
    <div class="section mt-2 mb-5">
      <p>
        Cette politique de confidentialité ne concerne que l’application mobile TalentsHeroes
        téléchargeable sur Google Play pour les appareils Android ou compatible et sur App Store
        pour les iPhone.
      </p>
      <br>
      <h4 class="color-font-principal">
        Bienvenue sur TalentsHeroes !
      </h4>
      <p>
        Le projet “Talent Heroes”, soucieux des droits des individus, notamment
        au regard des traitements automatisés et dans une volonté de transparence
        avec ses prospects et bénéficiaires, a mis en place une politique reprenant
        l’ensemble de ces traitements, des finalités poursuivies par ces derniers ainsi que
        des moyens d’actions à la disposition des individus afin qu’ils puissent au mieux
        exercer leurs droits.
        <br>
        L’utilisation de cette application mobile vaut acceptation sans réserve des dispositions
        et conditions d’utilisation qui suivent.
        <br>
        Pour toute information complémentaire sur la protection des données personnelles,
        nous vous invitons à consulter le site : https://apdp.bj/.
        <br>
        La version actuellement en ligne de ces conditions d’utilisation est la seule
        opposable pendant toute la durée d’utilisation de l’application et jusqu’à ce qu’une
        nouvelle version la remplace.
        <br>
        <strong>On désignera par la suite :</strong>
      </p>
      <h4 class="color-font-principal title-condition">
        Application
      </h4>
      <p>
        L’application Talent Heroes sur IOS ou Android.
      </p>
      <h4 class="color-font-principal title-condition">
        Utilisateur
      </h4>
      <p>
        Les prospects et bénéficiaires visitant et utilisant les services de l'application.
      </p>
      <h4 class="color-font-principal title-condition">
        Éditeur
      </h4>
      <p>
        Le projet “Talent Heroes”, personne morale responsable de l’édition et du contenu de
        l'application.
      </p>
      <h4 class="color-font-principal title-condition">
        Responsable de traitement
      </h4>
      <p>
        La personne physique ou morale, l’autorité publique, l'institution ou toute autre
        organisme qui, seul ou conjointement avec d’autres, détermine les finalités et
        les moyens du traitement de Données personnelles, y compris les mesures de
        sécurité concernant le fonctionnement et l'utilisation de l’application.
        Sauf mention contraire, le Responsable du traitement est le Le projet “Talent Heroes”
      </p>

      <h4 class="color-font-principal title-condition">
        Données personnelles
      </h4>
      <p>
        Toute information qui, directement, indirectement ou en relation avec d'autres
        informations – y compris un numéro d'identification personnel – permet l'identification ou
        l'identifiabilité d'une personne physique.
      </p>
      <h4 class="color-font-principal title-condition">
        Données d’utilisation
      </h4>
      <p>
        Les informations collectées automatiquement par l’application qui peuvent inclure
        les adresses IP ou les noms de domaines des ordinateurs utilisés par les Utilisateurs
        qui utilisent l’application, le pays d’origine, les caractéristiques du navigateur et
        du système d’exploitation utilisés par l’Utilisateur, les différents détails
        relatifs au temps par visite (p. ex. temps passé sur chaque page dans l’Application)
        et les détails relatifs au chemin suivi dans l’Application avec une référence
        spéciale à la séquence des pages visitées, et d’autres paramètres concernant
        le système d’exploitation ou l’environnement informatique de l’Utilisateur.
      </p>

      <br>

      <h4 class="color-font-principal title-condition">
        Article 1 : Mentions légales
      </h4>
      <p>
        1. Application (ci-arès «l’application »). : TalentsHeroes <br>
        TalentsHeroes est une application qui a pour but d’offrir un cadre d’échnages
        entre le le projet “Talents Heroes” et ses prospects et bénéficiaires
        <br><br>
        2. Éditeur (ci-après «l’éditeur»).: Le projet “Talents Heroes”, représenté par : <br>
        Administrateur : <br>
        Christian R. Gnonlonfoun <br>
        Adresse : C/945 Etoile Rouge Gbégamey IV <br>
        Tél. 001 617 435 8604 <br>
        Email : christiangnonlo@yahoo.com
      </p>
      <h4 class="color-font-principal title-condition">
        Article 2 : Accès à l'application
      </h4>
      <p>
        L’accès à l'application et son utilisation sont réservés à un usage strictement
        personnel. Vous vous engagez à ne pas utiliser cette application et les
        informations ou données qui y figurent à des fins commerciales, politiques,
        publicitaires et pour toute forme de sollicitation commerciale et notamment
        l’envoi de courriers électroniques non sollicités.
      </p>
      <h4 class="color-font-principal title-condition">
        Article 3 : Contenu de l’application
      </h4>
      <p>
        Toutes les marques, photographies, textes, commentaires, illustrations, images animées
        ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui
        pourraient être utilisées pour faire fonctionner cette application, et plus
        généralement tous les éléments reproduits ou utilisés sur l'application sont protégés
        par les lois en vigueur au titre de la propriété intellectuelle. Ils sont la propriété
        pleine et entière de l’éditeur ou de ses partenaires. <br>
        Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme
        que ce soit, de tout ou partie de ces éléments, y compris les applications
        informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement
        interdites. Le fait pour l’éditeur de ne pas engager de procédure dès la prise de
        connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites
        utilisations et renonciation aux poursuites.
      </p>
      <h4 class="color-font-principal title-condition">
        Article 4 : Gestion de l’application
      </h4>
      <p>
        Pour la bonne gestion de l'application, l’éditeur pourra à tout moment :
      </p>
      <ul>
        <li>
          Suspendre, interrompre ou limiter l’accès à tout ou partie d l'application,
          réserver l’accès à l'application, ou à certaines parties de l'application, à
          une catégorie déterminée d’internautes ;
        </li>
        <li>
          Supprimer toute information pouvant en perturber le fonctionnement ou entrant en
          contravention avec les lois nationales ou internationales, ou avec les règles de la
          Nétiquette (règles de savoir-vivre en usage sur Internet) ;
        </li>
        <li>
          Suspendre l'application afin de procéder à des mises à jour.
        </li>
      </ul>

      <h4 class="color-font-principal title-condition">
        Article 5 : Responsabilité de l’éditeur et du Responsable de traitement
      </h4>
      <p>
        La responsabilité de l’éditeur ne peut être engagée en cas de défaillance,
        panne, difficulté ou interruption de fonctionnement, empêchant l’accès à
        l'application ou à une de ses fonctionnalités. Le matériel de connexion à
        l'application que vous utilisez est sous votre entière responsabilité.
        Vous devez prendre toutes les mesures appropriées pour protéger votre matériel
        et vos propres données notamment d’attaques virales par Internet. <br>
        Vous êtes par ailleurs seul responsable des sites, applications et
        données que vous consultez. L’éditeur ne pourra être tenu responsable en
        cas de poursuites judiciaires à votre encontre : <br>
        • Du fait de l’usage de l'application ou de tout service accessible via Internet ; <br>
        • Du fait du non-respect par vous de la présente Politique de confidentialité ; <br>
        • L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers
        et/ou à votre équipement du fait de votre connexion ou de votre utilisation de
        l'application et vous renoncez à toute action contre lui de ce fait.
        Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire
        à raison de votre utilisation de l'application, il pourra se retourner contre
        vous pour obtenir l’indemnisation de tous les préjudices, sommes,
        condamnations et frais qui pourraient découler de cette procédure.
      </p>
      <h4 class="color-font-principal title-condition">
        Article 6 : Liens Hypertextes
      </h4>
      <p>
        La mise en place par les utilisateurs les utilisateurs de tous liens hypertextes vers
        tout ou partie de l'application est autorisée par l’éditeur. Tout lien devra être
        retiré sur simple demande de l’éditeur. L’éditeur n’est pas responsable des
        informations publiées et accessibles via un lien hypertexte publié sur l'application.
        L’éditeur ne dispose d’aucun droit sur le contenu présent dans ledit lien
      </p>
      <h4 class="color-font-principal title-condition">
        Article 7 : Collecte et protection des données
      </h4>
      <p>
        Vos données sont collectées par le propriétaire de l'application.
        Une donnée à caractère personnel désigne toute information concernant
        une personne physique identifiée ou identifiable (personne concernée).
        Est réputée identifiable une personne qui peut être identifiée, directement ou
        indirectement, notamment par référence à un nom, un numéro d’identification ou
        à un ou plusieurs éléments spécifiques, propres à son identité physique,
        physiologique, génétique, psychique, économique, culturelle ou sociale. <br>
        Les informations personnelles pouvant être recueillies sur l'application sont utilisées par l’éditeur
        pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos commandes.
        Les données personnelles pouvant être collectées sont les suivantes : <br>
        • Nom et prénom <br>
        • Adresse e-mail <br>
        • Numéro de téléphone

      </p>
      <h4 class="color-font-principal title-condition">
        Article 8 : Droit de l’utilisateur
      </h4>
      <p>
        En application de la réglementation applicable aux données à caractère personnel,
        les utilisateurs disposent des droits suivants : <br>

        • Le droit d’accès : vous pouvez exercer votre droit d’accès, pour connaître
        les données personnelles vous concernant, en écrivant à l’adresse e-mail
        suivante : christiangnonlo@yahoo.com
        Dans ce cas, avant la mise en œuvre de ce droit, le propriétaire de l'application
        peut demander une preuve de votre identité afin d’en vérifier l’exactitude <br>
        • Le droit de rectification : si les données à caractère personnel détenues par
        le propriétaire de l'application sont inexactes, vous pouvez demander la mise à
        jour des informations. <br>
        • Le droit de rectification : si les données à caractère personnel détenues par
        le propriétaire de l'application sont inexactes, vous pouvez demander la mise à
        jour des informations. <br>
        • Le droit de suppression des données : vous pouvez demander la suppression de
        vos données à caractère personnel, conformément aux lois applicables en matière
        de protection des données. <br>
        • Le droit à la limitation du traitement : vous pouvez demander au propriétaire
        de l'application de limiter le traitement des données personnelles conformément à
        la Réglementation Générale de la Protection des Données (RGPD). <br>
        • Le droit de s’opposer au traitement des données : vous pouvez vous opposer
        à ce que vos données soient traitées conformément aux hypothèses prévues par
        la Réglementation Générale de la Protection des Données (RGPD). <br>
        • Le droit à la portabilité : vous pouvez réclamer que le propriétaire de
        l'application vous remette les données personnelles fournies <br>
      </p>
      <h4 class="color-font-principal title-condition">
        Article 9 : Utilisation des données
      </h4>
      <p>
        Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des
        services de l'application, leur amélioration et le maintien d’un environnement sécurisé. Plus
        précisément, les utilisations sont les suivantes : <br>
        • Accès et utilisation de l'application par l’utilisateur <br>
        • Gestion du fonctionnement et optimisation de l'application <br>
        • Mise en œuvre d’une assistance utilisateurs <br>
        • Vérification, identification et authentification des données transmises par l’utilisateur <br>
        • Personnalisation des services en affichant des publicités en fonction de l’historique de navigation de
        l’utilisateur, selon ses préférences <br>
        • Prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et
        gestion des incidents de sécurité <br>
        • Gestion des éventuels litiges avec les utilisateurs <br>
        • Envoi d’informations commerciales et publicitaires, en fonction des préférences de l’utilisateur <br>
      </p>
      <h4 class="color-font-principal title-condition">
        Article 10 : Offres
      </h4>
      <p>
        Vous êtes susceptible de recevoir des offres commerciales par nos compagnes
      </p>
      <h4 class="color-font-principal title-condition">
        Article 11 : Loi application
      </h4>
      <p>
        La présente Politique de confidentialité est régie par la loi Béninoise/Française/Américaine et soumise
        à la compétence des tribunaux du siège social de l’éditeur, sous réserve d’une attribution de compétence
        spécifique découlant d’un texte de loi ou réglementaire particulier.
      </p>

    </div>
  </div>


   <!-- app footer -->
   <div class="appFooter">
    <img src="assets/logo_2.PNG" alt="icon" class="footer-logo mb-2">
    <div class="footer-title">
      Copyright © Talent Heroes <span class="yearNow"></span>. Tous droits réservés.
    </div>
    <div> Talent Heroes et son équipe vous souhaitent la bienvenue dans le groupe de la valorisation des talents.</div>


    <div class="mt-2">
      <a href="#" (click)="ouvrirLink('https://www.facebook.com/profile.php?id=100086663686457&mibextid=ZbWKwL')" class="btn btn-icon btn-sm btn-facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#" (click)="ouvrirLink('https://www.tiktok.com/@talentheroes3?_t=8aSSGoYNibt&_r=1')" class="btn btn-icon btn-sm btn-youtube">
        <ion-icon name="logo-tiktok"></ion-icon>
      </a>
      <a href="#" (click)="ouvrirLink('https://instagram.com/talentheroes229?igshid=ZDdkNTZiNTM=')" class="btn btn-icon btn-sm btn-whatsapp">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </div>

  </div>
  <!-- * app footer -->

</div>
<!-- * App Capsule -->
