
<!-- App Header -->
<div class="appHeader bg-primary text-light">
  <div class="left">
    <a (click)="backToPrevious()" class="headerButton">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">Gagnants</div>
  <div class="right"> </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

  <ul class="listview image-listview">
    <li>
      <div class="item">
        <div class="extraHeader">
          <div class="search-form">
            <div class="form-group searchbox">
              <input type="text" (input)="filerData($event.target)" class="form-control" placeholder="Rechercher...">
              <i class="input-icon">
                <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
              </i>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li *ngIf="oneCampagne != null">
      <a class="item">
        <div class="icon-box bg-warning">
          <ion-icon name="calendar-outline" role="img" class="md hydrated" aria-label="share social outline"></ion-icon>
        </div>
        <div class="in">
          <div style="width: 100%;">
            <header>{{ oneCampagne.title }}</header>
              <div class="col">
                <span>
                  {{ getMonthOfNumer(oneCampagne.mois) }} {{ oneCampagne.annee }}
                </span>
                <span [ngClass]="oneCampagne.status == 'EN COURS' ? 'badge badge-success float-right badge-plus' : 'badge badge-danger float-right badge-plus'">
                  {{ oneCampagne.status }}
                </span>
                <span [ngClass]="oneCampagne.nombreGagnant > 0 ? 'badge badge-success float-right me-1' : 'badge badge-danger float-right me-1'">
                  {{ oneCampagne.nombreGagnant }} <ion-icon name="trophy-outline"></ion-icon>
                </span>
            </div>
            <footer class="mt-1">
                {{ oneCampagne.content }}
            </footer>
          </div>
        </div>
      </a>
    </li>

    <li *ngFor="let element of gagnantListFiltered">
      <a data-bs-toggle="modal" data-bs-target="#DialogFormAction" class="item" (click)="selectItem(element)">
        <div class="icon-box bg-warning">
          <ion-icon name="trophy-outline" role="img" class="md hydrated" aria-label="share social outline"></ion-icon>
        </div>
        <div class="in">
          <div>
            <header>{{ element.titrecamapagne }}</header>
            {{ getMonthOfNumer(element.mois) }} {{ element.annee }}
            <footer>
              {{ element.postedBy.fullName }}
            </footer>
          </div>
          <span class="text-muted text-warning ">Lire</span>
        </div>
      </a>
    </li>
  </ul>
</div>



<!-- Dialog Action  -->
<div class="modal fade dialogbox" id="DialogFormAction" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Choisissez votre action</h5>
          </div>
          <ul class="listview image-listview">
            <li data-bs-dismiss="modal" (click)="ouvrirLink(oneGagnant)" *ngIf="oneGagnant != null">
                <div class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="videocam-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Visualiser le média</div>
                    </div>
                </div>
            </li>
          <li data-bs-toggle="modal" data-bs-target="#DialogBasic" *ngIf="oneGagnant != null">
            <div class="item">
                <div class="icon-box bg-primary">
                    <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                </div>
                <div class="in">
                    <div>
                     Annuler de la liste
                    </div>
                </div>
            </div>
           </li>
            <li data-bs-dismiss="modal">
                <div class="item">
                    <div class="icon-box bg-danger">
                        <ion-icon name="close" role="img" class="md hydrated" aria-label="musical notes outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Fermer</div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
  </div>
</div>
<!-- * Dialog Form -->

<!-- Dialog Basic -->
<div class="modal fade dialogbox" id="DialogBasic" data-bs-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Confirmation</h5>
          </div>
          <div class="modal-body">
           Autorisez-vous l'annulation de la liste des gagnants ?
          </div>
          <div class="modal-footer">
              <div class="btn-inline">
                  <a href="#" class="btn btn-text-secondary" data-bs-dismiss="modal">NON</a>
                  <a href="#" class="btn btn-text-primary" data-bs-dismiss="modal" (click)="updatingPublication()">OUI</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- * Dialog Basic -->

<div class="fab-button animate bottom-right" *ngIf="oneCampagne.status == 'EN COURS'">
  <a class="fab" (click)="choisirGagnant()">
    <ion-icon name="add-outline" role="img" class="md hydrated" aria-label="add outline"></ion-icon>
  </a>
</div>
